<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Recycle&Vous - Contact</title>
  <link rel="stylesheet" href="/front/css/forms.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="/front/js/nav.js"></script>
  <script src="/front/js/objform.js"></script>
</head>
<body>


</body>
<footer><script src="/front/js/footer.js"></script></footer>

</html>