<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Ressource&Vous - Je participe</title>
  <link rel="stylesheet" href="../css/forms.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="../js/nav.js"></script>
  <script src="../js/objform.js"></script>
</head>

<body onload="addDateNear();">
  <div class="container">
    <h1>Formulaire d'inscription</h1>
    <p>Afin de valider la reservation, veuillez remplir les informations ci-dessous.
    </p>
    <div class="row">
      <div class="col-10">
        <form method="POST" name="sendmail" action="">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" name="from" class="form-control" id="inputEmail3" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nom" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="surname" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
              <input type="text" name="surname" class="form-control" id="surname" placeholder="Prénom" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="birth" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-10">
              <input type="text" name="birth" class="form-control" id="birth" placeholder="jj/mm/aaaa" required>
            </div>
          </div>
          <div class="dateNear">
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>