<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Recycle&Vous - Je participe</title>
  <link rel="stylesheet" href="/front/css/forms.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="/front/js/nav.js"></script>
  <script src="/front/js/objform.js"></script>
</head>

<body>
  <h1>Les campagnes de dons</h1>
{{range .Events}}
  <div class="card mb-7" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/workshop" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{.Name}}</h5>
          <p class="card-text">{{.Description}}</p>
          <p> Du {{.DateBegin}} au {{.DateEnd}}</p>
          <a href="/events/{{.Id}}/book">
            <div>Je m'inscrit!</div>
          </a>
        </div>
      </div>
    </div>
  </div>
{{end}}

<!-- DEMO -->
<div class="card mb-7" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/front/pictures/events/recycle.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Rendez-vous en Mars - Matinee</h5>
        <p class="card-text">Campagne de dons exeptionnelle, profitez de l'evenement pour en apprendre plus sur le recyclage autour d'un cafe.</p>
        <p> Du 12/03/2020 - 07h00 au 12/03/2020 - 12h00 </p>
        <a href="/events/book">
          <div>Je m'inscrit!</div>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
<footer><script src="/front/js/footer.js"></script></footer>
