<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Ressource</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/front/js/nav.js"></script>
    <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Recycle&Vous</h1>
      <p class="lead">Recycle&Vous, le site qui ameliore la durree de vie de vos objets pour preserver l'environnement.</p>
      <hr class="my-4">
      <p>Recycle&Vous vous offre la possibilite de donner, acheter des objets recycles et de participer a des ateliers reparation dans une ambiance conviviale !</p>
    </div>
  </body>
  <footer>
      <script src="/front/js/footer.js"></script>
  </footer>
</html>